In [ ]:
!ls supplier-selection_fuzzy-logic_thesis/Results/Scenario1

In [2]:
import pandas as pd
from statistics import mean, stdev

In [ ]:
scenario1_fuzzy_df_1 = pd.read_excel("supplier-selection_fuzzy-logic_thesis/Results/Scenario1/Scenario1_Fuzzy_evaluation_results_(including_new).xlsx")
scenario1_fuzzy_df_1 = scenario1_fuzzy_df_1.drop(["Unnamed: 0"], axis=1)
scenario1_fuzzy_df_1 = scenario1_fuzzy_df_1[scenario1_fuzzy_df_1["Supplier ID"] == 10000082]
#scenario1_fuzzy_df_1 = scenario1_fuzzy_df_1[scenario1_fuzzy_df_1["Iteration"] == 1]
#scenario1_fuzzy_df_1[["Iteration", "Action"]].groupby("Action").count()

table = {
    "Iteration": [],
    "Implement": [],
    "Wait": [],
    "Mode": []
}

for i in range(1,101):
    df = scenario1_fuzzy_df_1[scenario1_fuzzy_df_1["Iteration"] == i]
    implement_qty = len(df[df["Action"] == "Implement"])
    wait_qty = len(df[df["Action"] == "Wait"])

    if implement_qty == wait_qty:
        mode = "Equal"
    elif implement_qty > wait_qty:
        mode = "Implement"
    else:
        mode = "Wait"

    table["Iteration"].append(i)
    table["Implement"].append(implement_qty)
    table["Wait"].append(wait_qty)
    table["Mode"].append(mode)

pd.DataFrame(data=table)[["Iteration", "Mode"]].groupby("Mode").count()

In [39]:
df = pd.read_excel("Implementation_results-random_uniform-27102025215801.xlsx")
df = df.drop(["Unnamed: 0.1", "Unnamed: 0"], axis=1)
df_full =  df.copy()
df = df[df["Awarded"] == True][["Iteration", "ECN", "Supplier name", "SOP ready"]].drop_duplicates().reset_index().drop(["index"], axis=1)
df

FileNotFoundError: [Errno 2] No such file or directory: 'Implementation_results-random_uniform-27102025215801.xlsx'

In [ ]:
df_full

In [ ]:
df["Iteration"].max()

In [ ]:
supplier_list = {"Tuberías ABC, S.A. de C.V.": [], "Tuberías DEF, S. de R.L.": [], "Tuberías GHI, S.A.S.": [], "Tuberías Súper, S.A.P.I.": []}

for i in range(1,101):
    for supplier in supplier_list.keys():
        ecn_qty = len(df[(df["Iteration"] == i) & (df["Supplier name"] == supplier)])
        supplier_list[supplier].append(ecn_qty)

joint_list = []

for key in supplier_list.keys():
    joint_list += supplier_list[key]

print(f"ECN\nAverage: {mean(joint_list)}\nStDev: {round(stdev(joint_list),2)}")

supplier_table = {
    "Supplier": [],
    "ECN avg": [],
    "ECN std": []
}

for supplier in supplier_list.keys():
    supplier_table["Supplier"].append(supplier)
    supplier_table["ECN avg"].append(mean(supplier_list[supplier]))
    supplier_table["ECN std"].append(stdev(supplier_list[supplier]))

pd.DataFrame(data=supplier_table)

In [ ]:
supplier_list = {"Tuberías ABC, S.A. de C.V.": [], "Tuberías DEF, S. de R.L.": [], "Tuberías GHI, S.A.S.": [], "Tuberías Súper, S.A.P.I.": []}

for i in range(1,101):
    for supplier in supplier_list.keys():
        try:
            otd = len(df[(df["Iteration"] == i) & (df["Supplier name"] == supplier) & (df["SOP ready"] == True)]) / len(df[(df["Iteration"] == i) & (df["Supplier name"] == supplier)])
        except ZeroDivisionError:
            otd = 0
        supplier_list[supplier].append(otd)

joint_list = []

for key in supplier_list.keys():
    joint_list += supplier_list[key]

print(f"OTD\nAverage: {round(mean(joint_list),4)}\nStDev: {round(stdev(joint_list),6)}")

supplier_table = {
    "Supplier": [],
    "OTD avg": [],
    "OTD std": []
}

for supplier in supplier_list.keys():
    supplier_table["Supplier"].append(supplier)
    supplier_table["OTD avg"].append(mean(supplier_list[supplier]))
    supplier_table["OTD std"].append(stdev(supplier_list[supplier]))

pd.DataFrame(data=supplier_table)

In [ ]:
supplier_list = {"Tuberías ABC, S.A. de C.V.": [], "Tuberías DEF, S. de R.L.": [], "Tuberías GHI, S.A.S.": [], "Tuberías Súper, S.A.P.I.": [], "Total": []}

for i in range(1,101):
    total = 0
    for supplier in supplier_list.keys():
        if supplier != "Total":
            spend = df_full[(df_full["Iteration"] == i) & (df_full["Supplier name"] == supplier) & (df_full["Awarded"] == True)]["FY Spend"].sum()
            supplier_list[supplier].append(spend)
            total += spend
    supplier_list["Total"].append(total)

supplier_table = {
    "Supplier": [],
    "Spend avg": [],
    "Spend std": []
}

for supplier in supplier_list.keys():
    supplier_table["Supplier"].append(supplier)
    supplier_table["Spend avg"].append(mean(supplier_list[supplier]))
    supplier_table["Spend std"].append(stdev(supplier_list[supplier]))

pd.DataFrame(data=supplier_table)

## Section 2
### Analysis of 1000-ECN simulation

In [ ]:
!ls supplier-selection_fuzzy-logic_thesis/Results/

In [ ]:
text = []

for i in range(1,12):
    text.append(f"Rule {i}")

text

In [ ]:
df = pd.read_excel("Results/Scenario2/Scenario2_Fuzzy_evaluation_results.xlsx")
df = df.drop(["Unnamed: 0"], axis=1)
df = df[df["Supplier ID"] == 10000082]
df[['Rule 1',
 'Rule 2',
 'Rule 3',
 'Rule 4',
 'Rule 5',
 'Rule 6',
 'Rule 7',
 'Rule 8',
 'Rule 9',
 'Rule 10',
 'Rule 11']].std()

In [ ]:
df_full =  df.copy()
df = df[df["Awarded"] == True][["Iteration", "ECN", "ECN release", "Supplier name", "SOP ready"]].drop_duplicates().reset_index().drop(["index"], axis=1)
df

In [ ]:
supplier_list = ["Tuberías ABC, S.A. de C.V.", "Tuberías DEF, S. de R.L.", "Tuberías GHI, S.A.S.", "Tuberías Súper, S.A.P.I."]
supplier_table = {
    "Supplier": [],
    "ECN": []
}

for supplier in supplier_list:
    ecn_qty = len(df[(df["Supplier name"] == supplier)])
    supplier_table["Supplier"].append(supplier)
    supplier_table["ECN"].append(ecn_qty)

print(f"ECN\nAverage: {mean(supplier_table['ECN'])}\nStDev: {round(stdev(supplier_table['ECN']),2)}")

pd.DataFrame(data=supplier_table)

In [ ]:
super_supplier_df = df[df["Supplier name"] == "Tuberías Súper, S.A.P.I."]
fechas = super_supplier_df["ECN release"].unique()

table = {
    "Fecha": [],
    "ECN": []
}

ecn_counter = 0

for fecha in fechas:
    ecn_qty = len(super_supplier_df[super_supplier_df["ECN release"] == fecha])
    ecn_counter += ecn_qty
    table["Fecha"].append(fecha)
    table["ECN"].append(ecn_counter)

ecn_df = pd.DataFrame(data=table)

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(8, 5))
plt.plot(ecn_df['Fecha'], ecn_df['ECN'], marker='o')
plt.title('ECNs acumuladas en el tiempo')
plt.xlabel('Fecha')
plt.ylabel('Cantidad acumulada de ECNs')
plt.grid(True)
plt.tight_layout()
plt.show()

## Scenario 2

In [ ]:
!ls Results/Scenario2

In [ ]:
scenario2_implementation_df = pd.read_excel("Results/Scenario2/Scenario2_Implementation_results.xlsx")
scenario2_implementation_df = scenario2_implementation_df.drop(["Unnamed: 0", "Unnamed: 0.1"], axis=1)
scenario2_implementation_df = scenario2_implementation_df[scenario2_implementation_df["Awarded"] == True]
#scenario2_implementation_df = scenario2_implementation_df[scenario2_implementation_df["Supplier ID"] == 10000082]

scenario2_implementation_df[["Iteration", "Supplier name", "ECN"]].groupby("Supplier name").count()
#scenario2_implementation_df["Supplier name"].unique()

In [ ]:
scenario2_implementation_df[["Iteration", "Supplier name", "FY Spend"]].groupby(["Iteration"])["FY Spend"].mean()

In [ ]:
table = {
    "Iteration": [],
    "OTD": []
}

for r in range(2,102):
    micro_df = scenario2_implementation_df[scenario2_implementation_df["Iteration"] == r]

    otd = len(micro_df[micro_df["SOP ready"] == True]) / len(micro_df)

    table["Iteration"].append(r)
    table["OTD"].append(otd)

pd.DataFrame(data=table).to_excel("OTD.xlsx")

In [ ]:
scenario2_implementation_df[["Iteration", "FY Spend"]].groupby("Iteration").sum()["FY Spend"].mean()

In [ ]:
scenario2_fuzzy_df = pd.read_excel("Results/Scenario2/Scenario2_Fuzzy_evaluation_results.xlsx")
scenario2_fuzzy_df = scenario2_fuzzy_df.drop(["Unnamed: 0"], axis=1)
scenario2_fuzzy_df = scenario2_fuzzy_df[scenario2_fuzzy_df["Supplier ID"] == 10000073]
#scenario2_implementation_df[["Iteration", "Supplier name", "ECN"]].groupby("Supplier name").count()
#scenario2_implementation_df["Supplier name"].unique()
#scenario2_fuzzy_df[["Iteration", "Supplier ID", "Score"]].groupby(["Supplier ID"]).mean()["Score"].mean()
scenario2_fuzzy_df["Classification"].unique()

# Limitations

In [ ]:
!ls Results/Scenario2/

In [ ]:
supplier_id = 10000033

scenario1_df = pd.read_excel("Results/Scenario1/Scenario1_Implementation_results_(including_new).xlsx")
scenario1_df = scenario1_df.drop(["Unnamed: 0", "Unnamed: 0.1"], axis=1)
scenario1_df = scenario1_df[(scenario1_df["Awarded"] == True) & (scenario1_df["Supplier ID"] == supplier_id)]

In [ ]:
scenario1_df

In [ ]:
from datetime import datetime, timedelta
from math import ceil

span = (datetime(2024, 9, 11) - datetime(2024, 2, 7)).days
beginning = datetime(2024, 2, 7)

fechas = [beginning + timedelta(days=i) for i in range(span + 1)]
table = {fecha: [] for fecha in fechas}

for run in range(101):
    ecn_counter = 0
    short_df = scenario1_df[scenario1_df["Iteration"] == run]

    for fecha in fechas:
        ecn_qty = len(short_df[short_df["ECN release"] == fecha]["ECN"].unique())
        ecn_counter += ecn_qty
        table[fecha].append(ecn_counter)

table_2 = {
    "Fecha": [],
    "ECN": []
}

counter = 0
for key in table.keys():
    counter += 1
    table_2["Fecha"].append(key.strftime("%Y-%m-%d"))
    table_2["ECN"].append(ceil(mean(table[key])))
    #print(f"({counter}, {ceil(mean(table[key]))})")

In [56]:
supplier_id = 10000082

mass_df = pd.read_excel("Results/Massive/Implementation_results-31102025210231.xlsx")
mass_df = mass_df.drop(["Unnamed: 0", "Unnamed: 0.1"], axis=1)

#mass_df_2 = pd.read_excel("Results/Massive/Implementation_results-03112025062950.xlsx")
#mass_df_2 = mass_df_2.drop(["Unnamed: 0", "Unnamed: 0.1"], axis=1)
#mass_df_2 = mass_df_2[mass_df_2["Iteration"] == 1]
#mass_df_2["Iteration"] = 2

#mass_df = pd.concat([mass_df_1, mass_df_2])
mass_df = mass_df[(mass_df["Supplier ID"] == supplier_id) & (mass_df["Awarded"] == True)]

In [57]:
from datetime import datetime, timedelta
from math import ceil

span = (datetime(2025, 3, 19) - datetime(2023, 11, 1)).days
beginning = datetime(2023, 11, 1)

fechas = [beginning + timedelta(days=i) for i in range(span + 1)]
table = {fecha: [] for fecha in fechas}

for run in range(1,3):
    ecn_counter = 0
    short_df = mass_df[mass_df["Iteration"] == run]

    for fecha in fechas:
        ecn_qty = len(short_df[short_df["ECN release"] == fecha]["ECN"].unique())
        ecn_counter += ecn_qty
        table[fecha].append(ecn_counter)

table_2 = {
    "Fecha": [],
    "ECN": []
}

counter = 0
for key in table.keys():
    counter += 1
    table_2["Fecha"].append(key.strftime("%Y-%m-%d"))
    table_2["ECN"].append(ceil(mean(table[key])))
    #print(f"({counter}, {ceil(mean(table[key]))})")

In [58]:
dates_df = pd.DataFrame(data=table_2)
#dates_df.groupby("ECN").min()#.to_excel("47.xlsx")

In [47]:
s_33 = dates_df.groupby("ECN").min()
s_33

          Fecha
ECN
1    2023-11-01
2    2023-11-17
3    2024-02-19
4    2024-06-02
5    2024-06-18
6    2024-07-07
7    2024-10-18

In [51]:
s_47 = dates_df.groupby("ECN").min()
s_47

          Fecha
ECN
1    2023-11-01
2    2023-11-17

In [55]:
s_73 = dates_df.groupby("ECN").min()
s_73

          Fecha
ECN
1    2023-11-01
2    2023-11-26
3    2024-01-16
4    2024-02-08
5    2024-04-12
6    2024-04-29
7    2024-06-01
8    2024-06-26
9    2024-06-30
10   2024-07-30
11   2024-09-30

In [59]:
s_82 = dates_df.groupby("ECN").min()
s_82

          Fecha
ECN
0    2023-11-01
1    2023-11-08
2    2023-11-25
3    2023-12-04
4    2023-12-13
..          ...
476  2025-01-15
477  2025-01-20
478  2025-01-27
479  2025-02-06
480  2025-02-26

[293 rows x 1 columns]

In [27]:
s_33["Supplier"] = 33
s_47["Supplier"] = 47
s_73["Supplier"] = 73
s_82["Supplier"] = 82

ss = pd.concat([s_33, s_47, s_73, s_82])

In [30]:
ss["Fecha"].unique()

array(['2023-11-01', '2023-11-08', '2024-01-20', '2024-03-01',
       '2024-04-24', '2024-05-26', '2024-06-05', '2024-06-17',
       '2024-06-19', '2024-07-04', '2024-08-17', '2024-09-02',
       '2024-09-03', '2024-09-06', '2024-09-08', '2024-09-12',
       '2024-09-15', '2024-09-18', '2024-09-19', '2024-09-20',
       '2024-09-21', '2024-09-22', '2024-09-23', '2024-09-24',
       '2024-09-25', '2024-09-26', '2024-09-27', '2024-09-28',
       '2024-09-30', '2024-10-02', '2024-10-03', '2024-10-04',
       '2024-10-05', '2024-10-06', '2024-10-07', '2024-10-08',
       '2024-10-09', '2024-10-11', '2024-10-12', '2024-10-14',
       '2024-10-15', '2024-10-16', '2024-10-18', '2024-10-20',
       '2024-10-21', '2024-10-22', '2024-10-24', '2024-10-26',
       '2024-10-27', '2024-10-28', '2024-10-31', '2024-11-01',
       '2024-11-02', '2024-11-04', '2024-11-06', '2024-11-07',
       '2024-11-09', '2024-11-11', '2024-11-13', '2024-11-14',
       '2024-11-19', '2024-11-24', '2024-11-25', '2024-11-28',
       '2024-11-30', '2024-12-04', '2024-12-05', '2024-12-10',
       '2024-12-22', '2024-12-23', '2024-12-29', '2025-01-03',
       '2025-01-10', '2025-01-13', '2025-01-17', '2025-01-28',
       '2025-02-07', '2025-02-20', '2023-11-11', '2023-11-16',
       '2023-11-17', '2023-12-13', '2023-12-21', '2023-12-31',
       '2024-01-03', '2024-05-01', '2024-08-06', '2024-08-11',
       '2024-08-16', '2024-08-25', '2024-09-14', '2024-09-16',
       '2023-11-25', '2024-01-09', '2024-02-06', '2024-02-17',
       '2024-04-01', '2024-04-12', '2024-04-29', '2024-06-01',
       '2024-06-26', '2024-06-30', '2024-07-26', '2024-08-02',
       '2023-11-22', '2023-11-30', '2023-12-04', '2023-12-05',
       '2023-12-11', '2023-12-14', '2023-12-15', '2023-12-16',
       '2023-12-17', '2023-12-18', '2023-12-22', '2023-12-24',
       '2023-12-26', '2023-12-27', '2023-12-28', '2023-12-30',
       '2024-01-02', '2024-01-06', '2024-01-07', '2024-01-08',
       '2024-01-10', '2024-01-11', '2024-01-14', '2024-01-15',
       '2024-01-16', '2024-01-17', '2024-01-18', '2024-01-19',
       '2024-01-22', '2024-01-23', '2024-01-24', '2024-01-25',
       '2024-01-26', '2024-01-27', '2024-01-28', '2024-01-29',
       '2024-01-30', '2024-01-31', '2024-02-01', '2024-02-02',
       '2024-02-03', '2024-02-04', '2024-02-05', '2024-02-08',
       '2024-02-09', '2024-02-10', '2024-02-11', '2024-02-12',
       '2024-02-14', '2024-02-15', '2024-02-16', '2024-02-18',
       '2024-02-19', '2024-02-20', '2024-02-21', '2024-02-22',
       '2024-02-23', '2024-02-24', '2024-02-25', '2024-02-26',
       '2024-02-27', '2024-02-28', '2024-02-29', '2024-03-02',
       '2024-03-03', '2024-03-04', '2024-03-05', '2024-03-06',
       '2024-03-07', '2024-03-08', '2024-03-09', '2024-03-10',
       '2024-03-11', '2024-03-12', '2024-03-13', '2024-03-14',
       '2024-03-15', '2024-03-16', '2024-03-17', '2024-03-18',
       '2024-03-19', '2024-03-20', '2024-03-21', '2024-03-23',
       '2024-03-24', '2024-03-25', '2024-03-26', '2024-03-27',
       '2024-03-28', '2024-03-29', '2024-03-30', '2024-03-31',
       '2024-04-02', '2024-04-03', '2024-04-04', '2024-04-05',
       '2024-04-06', '2024-04-07', '2024-04-08', '2024-04-09',
       '2024-04-10', '2024-04-11', '2024-04-13', '2024-04-14',
       '2024-04-15', '2024-04-16', '2024-04-17', '2024-04-18',
       '2024-04-19', '2024-04-20', '2024-04-21', '2024-04-22',
       '2024-04-23', '2024-04-25', '2024-04-26', '2024-04-27',
       '2024-04-28', '2024-04-30', '2024-05-02', '2024-05-03',
       '2024-05-04', '2024-05-05', '2024-05-06', '2024-05-07',
       '2024-05-08', '2024-05-09', '2024-05-10', '2024-05-11',
       '2024-05-12', '2024-05-13', '2024-05-14', '2024-05-15',
       '2024-05-16', '2024-05-17', '2024-05-18', '2024-05-19',
       '2024-05-20', '2024-05-21', '2024-05-22', '2024-05-23',
       '2024-05-24', '2024-05-25', '2024-05-27', '2024-05-28',
       '2024-05-29', '2024-05-30', '2024-05-31', '2024-06-02',
       '2024-06-03', '2024-06-04', '2024-06-06', '2024-06-07',
       '2024-06-08', '2024-06-09', '2024-06-10', '2024-06-11',
       '2024-06-12', '2024-06-13', '2024-06-14', '2024-06-15',
       '2024-06-16', '2024-06-18', '2024-06-20', '2024-06-21',
       '2024-06-22', '2024-06-23', '2024-06-24', '2024-06-25',
       '2024-06-27', '2024-06-28', '2024-06-29', '2024-07-01',
       '2024-07-02', '2024-07-03', '2024-07-05', '2024-07-06',
       '2024-07-07', '2024-07-08', '2024-07-09', '2024-07-10',
       '2024-07-11', '2024-07-12', '2024-07-13', '2024-07-14',
       '2024-07-15', '2024-07-16', '2024-07-17', '2024-07-18',
       '2024-07-19', '2024-07-20', '2024-07-21', '2024-07-22',
       '2024-07-23', '2024-07-24', '2024-07-25', '2024-07-27',
       '2024-07-28', '2024-07-29', '2024-07-30', '2024-07-31',
       '2024-08-01', '2024-08-03', '2024-08-04', '2024-08-05',
       '2024-08-07', '2024-08-08', '2024-08-09', '2024-08-10',
       '2024-08-12', '2024-08-13', '2024-08-14', '2024-08-15',
       '2024-08-18', '2024-08-19', '2024-08-20', '2024-08-21',
       '2024-08-22', '2024-08-23', '2024-08-24', '2024-08-26',
       '2024-08-27', '2024-08-28', '2024-08-29', '2024-08-30',
       '2024-08-31', '2024-09-01', '2024-09-04', '2024-09-05',
       '2024-09-07', '2024-09-09', '2024-09-10', '2024-09-13',
       '2024-09-17', '2024-09-29', '2024-10-01', '2024-10-10',
       '2024-10-13', '2024-10-19', '2024-10-23', '2024-10-25',
       '2024-11-03', '2024-11-05', '2024-11-10', '2024-11-16',
       '2024-11-18', '2024-11-21', '2024-11-22', '2024-11-23',
       '2024-11-26', '2024-12-02', '2024-12-12', '2024-12-15',
       '2024-12-21', '2024-12-25', '2025-01-02', '2025-01-05',
       '2025-01-12', '2025-01-14', '2025-01-20', '2025-01-21',
       '2025-02-04', '2025-03-19'], dtype=object)

In [ ]:
table_3 = {
    "Fecha": [],
    "ECN": []
}

for e in range(dates_df["ECN"].max() + 1):
    table_3["Fecha"].append(dates_df[dates_df["ECN"] == e]["Fecha"].min())
    table_3["ECN"].append(e)

pd.DataFrame(data=table_3).dropna(axis=1, how="any")

In [ ]:
tik = []
for k in range(1,157):
    tik.append(k)

print(tik)